@model List<AudioShopFrontend.DTO.ProductDTO>
@{
    ViewBag.Title = "Generals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="page-breadcrumb__menu ForceRTL">
                    <li class="page-breadcrumb__nav"><a href="#">Home</a></li>
                    <li class="page-breadcrumb__nav active">Shop 4 Grid Page </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- Start Rightside - Content -->
        <div class="col-12">
            <!-- ::::::  Start banner Section  ::::::  -->
            <div class="banner">
                <div class="row">
                    <div class="col-12">
                        <div class="banner__box">
                            <a href="single-1.html" class="banner__link">
                                <img src="@Url.Content("~/Content/assets/img/banner/banner-shop-1-img-1.jpg")" alt="" class="banner__img">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- ::::::  End banner Section  ::::::  -->
            <!-- ::::::  Start Sort Box Section  ::::::  -->
            <div class="sort-box m-tb-30">
                <!-- Start Sort Left Side -->
                <div class="sort-box__left">
                    <div class="sort-box__tab">
                        <ul class="sort-box__tab-list nav">
                            <li><a class="sort-nav-link active" data-toggle="tab" href="#sort-grid"><i class="icon-grid"></i>  </a></li>
                            <li><a class="sort-nav-link" data-toggle="tab" href="#sort-list"><i class="icon-list"></i></a></li>
                        </ul>
                    </div>
                    <span>There Are 13 Products.</span>
                </div> <!-- Start Sort Left Side -->

                <div class="sort-box__right">
                    <span>Sort By:</span>
                    <div class="sort-box__option">
                        <label class="select-sort__arrow">
                            <select name="select-sort" class="select-sort">
                                <option value="1">Relevance</option>
                                <option value="2">Name, A to Z</option>
                                <option value="3"> Name, Z to A </option>
                                <option value="4"> Price, low to high</option>
                                <option value="5">Price, high to low</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div> <!-- ::::::  Start Sort Box Section  ::::::  -->

            <div class="product-tab-area">
                <div class="tab-content ">
                    <div class="tab-pane show active clearfix" id="sort-grid">
                        @foreach (var prod in Model)
                        {
                            <div class="product__box product__box--default product__box--border-hover text-center float-left float-4 ForceFloat">
                                <div class="product__img-box">
                                    <a href="single-1.html" class="product__img--link">
                                        @if (prod.Pictures != null)
                                        {
                                            <img class="product__img" src="@prod.Pictures.Split(',').FirstOrDefault())" alt="">
                                        }
                                        else
                                        {
                                            <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                                        }
                                    </a>

                                    <a href="#modalAddCart" data-toggle="modal" class="btn btn--box btn--small btn--gray btn--uppercase btn--weight btn--hover-zoom product__upper-btn">اضافه کردن به لیست</a>
                                    <span class="product__tag product__tag--discount">-12%</span>
                                    <a href="wishlist.html" class="product__wishlist-icon"><i class="icon-heart"></i></a>
                                </div>
                                <div class="product__price m-t-10">
                                    <span class="product__price-del">@prod.Price</span>
                                    <span class="product__price-reg">$10.71</span>
                                </div>
                                <a href="single-1.html" class="product__link product__link--underline product__link--weight-light m-t-15">
                                    @prod.ProductName
                                </a>
                            </div> <!-- End Single Default Product -->

                        }
                    </div>
                    <div class="tab-pane shop-list" id="sort-list">
                        @foreach (var prod2 in Model)
                        {
                            <div class="product__box product__box--list">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="product__img-box">
                                            <a href="single-1.html" class="product__img--link">
                                                @if (prod2.Pictures != null)
                                                {
                                                    <img class="product__img" src="@prod2.Pictures.Split(',').FirstOrDefault())" alt="">
                                                }
                                                else
                                                {
                                                    <img class="product__img" src="@Url.Content("~/Content/assets/img/product/size-normal/product-home-1-img-1.jpg")" alt="">
                                                }
                                            </a>
                                            <span class="product__tag product__tag--discount">-12%</span>

                                        </div>
                                    </div>
                                    <div class="col-md-5 pos-relative">
                                        <div class="border-right pos-absolute"></div>
                                        <div class="product__price">
                                            <span class="product__price-del">@prod2.Price</span>
                                            <span class="product__price-reg">$10.71</span>
                                        </div>
                                        <a href="single-1.html" class="product__link product__link--underline product__link--weight-light m-t-15">
                                            @prod2.ProductName
                                        </a>
                                        <div class="product__desc m-t-25 m-b-30">
                                            <p>Description???</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div>
                                            <ul class="shop__list-link">
                                                <li><a href="#modalAddCart" data-toggle="modal" class="btn btn--block btn--small btn--border-blue btn--uppercase btn--weight m-b-15">اضافه کردن به لیست</a></li>
                                                <li><a href="wishlist.html" class="link--gray link--icon-left shop__wishlist-icon m-b-5"><i class="icon-heart"></i>اضافه کردن به لیست علاقه مندی</a></li>
                                                <li><a href="#modalQuickView" data-toggle="modal" class="link--gray link--icon-left shop__quickview-icon"><i class="icon-eye"></i>نمایه محصول</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- Start Single List Product -->

                        }
                    </div>
                </div>
            </div>

            <div class="page-pagination">
                <span>Showing 1-12 of 13 item(s)</span>
                <ul class="page-pagination__list">
                    <li class="page-pagination__item">
                        <a class="page-pagination__link btn btn--gray" href="#"><i class="icon-chevron-left"></i> Previous</a>
                    </li>
                    <li class="page-pagination__item"><a class="page-pagination__link active btn btn--gray" href="#">1</a></li>
                    <li class="page-pagination__item"><a class="page-pagination__link btn btn--gray" href="#">2</a></li>
                    <li class="page-pagination__item">
                        <a class="page-pagination__link btn btn--gray" href="#">Next<i class="icon-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>  <!-- Start Rightside - Content -->
    </div>
</div>


