@model List<AudioShopBackend.Models.Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-example-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right;direction:rtl;">
                <div class="form-element-list" id="divCategoryForm">
                    <div class="alert alert-success" role="alert" hidden="hidden" id="successfullMessageDiv"></div>
                    <div class="alert alert-warning" role="alert" hidden="hidden" id="warningMessageDiv"></div>
                    <div class="alert alert-danger" role="alert" hidden="hidden" id="errorMessageDiv"></div>
                    <div class="basic-tb-hd" style="text-align:right;">
                        <h2>ایجاد دسته بندی</h2>
                        <p>لطفا فیلد های ضروری را پر کنید</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="نام نوع" id="txtTypeName">
                                </div>
                                <div class="form-ic-cmp button-icon-btn button-icon-btn-cl sm-res-mg-t-30">
                                    <button class="btn btn-lightgreen lightgreen-icon-notika btn-reco-mg btn-button-mg waves-effect" id="btnAddType"><i class="notika-icon notika-checked" style="top:0 !important;"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="نام برند" id="txtBrandName">
                                </div>
                                <div class="form-ic-cmp button-icon-btn button-icon-btn-cl sm-res-mg-t-30">
                                    <button class="btn btn-lightgreen lightgreen-icon-notika btn-reco-mg btn-button-mg waves-effect" id="btnAddBrand"><i class="notika-icon notika-checked" style="top:0 !important;"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-edit"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="عنوان دسته بندی" id="txtCategoryName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int" id="TypeWrap">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int" id="BrandWrap">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-star"></i>
                                </div>
                                <div class="nk-int-st">
                                    <textarea class="form-control" placeholder="توضیحات" id="txtDescription"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-star"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="کلید واژه ها" id="txtKeywords">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <a href="@Url.Action("ManageTypeAndBrand","Home",new { IsBrand = false})" style="text-decoration:underline;">مدیریت نوع دسته بندی</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <a href="@Url.Action("ManageTypeAndBrand","Home",new { IsBrand = true })" style="text-decoration:underline;">مدیریت برند دسته یندی</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="nk-int-st">
                                    <input type="file" class="form-control" id="UploadHeaderPic" multiple="multiple" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <input type="text" hidden="hidden" id="txtPictures" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int" id="UploadPics">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="nk-int-st">
                                    <button class="btn notika-btn-green btn-reco-mg btn-button-mg waves-effect" id="btnAddCategory">اضافه کردن</button>
                                    <button class="btn notika btn-reco-mg btn-button-mg waves-effect" id="btnClearForm">خالی کردن فرم</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd" style="text-align:right;">
                        <h2>لیست دسته بندی ها</h2>
                        <p></p>
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:center !important;">شماره دسته بندی</th>
                                    <th style="text-align:center !important;">عنوان دسته بندی</th>
                                    <th style="text-align:center !important;">نوع</th>
                                    <th style="text-align:center !important;">برند</th>
                                    <th style="text-align:center !important;">عملیات</th>
                                </tr>
                            </thead>
                            <tbody id="tblCategory">
                                @foreach (var cat in Model)
                                {
                                    <tr>
                                        <td>@cat.NidCategory</td>
                                        <td>@cat.CategoryName</td>
                                        <td>
                                            <div class="col-sm-12">
                                                @foreach (var typ in cat.Category_Types.Take(4))
                                                {
                                                    <div class="col-sm-6">
                                                        <button class="btn btn-default btn-icon-notika waves-effect">
                                                             @typ.TypeName
                                                        </button>
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-sm-12">
                                                @foreach (var brd in cat.Category_Brands.Take(4))
                                                {
                                                    <div class="col-sm-6">
                                                    <button class="btn btn-default btn-icon-notika waves-effect">
                                                         @brd.BrandName
                                                    </button>
                                                        </div>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <button onclick="EditThis(@cat.NidCategory)" class="btn btn-warning notika-btn-warning waves-effect">ویرایش</button>
                                            <button onclick="DeleteThis(@cat.NidCategory)" class="btn btn-danger notika-btn-danger waves-effect">حذف</button>
                                            <button onclick="DetailThis(@cat.NidCategory)" class="btn btn-info notika-btn-info waves-effect"  data-toggle="modal">جزییات</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal animated bounce" id="DetailModal" role="dialog" style="display: none;"></div>


@section styles
    {
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.dataTables.min.css")">
     }

@section scripts
    {
<script src="@Url.Content("~/Content/js/data-table/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/js/data-table/data-table-act.js")"></script>
    <script type="text/javascript">
        var IsCategoryAdded = false;
        var NidCurrentCategory = 0;
        $(function () {
            $('.nav-tabs li.active').removeClass('active');
            $("#liCategories").addClass('active');
            $("#btnAddCategory").click(function (e) {
                e.preventDefault();
                if ($("#txtCategoryName").val() == '') {
                    $("#warningMessageDiv").html('category name is null');
                    $("#warningMessageDiv").removeAttr('hidden');
                    setTimeout(function () {
                        $("#warningMessageDiv").prop('hidden', 'hidden');
                    }, 3000);
                } else {
                    if (IsCategoryAdded) {
                        $.ajax(
                            {
                                url: '@Url.Action("AddCategory","Home")',
                                type: 'post',
                                datatype: 'json',
                                data: { IsNewCategory: false, Name: $("#txtCategoryName").val(), NidCategory: NidCurrentCategory, CategoryDescription: $("#txtDescription").val(), categoryKeywords: $("#txtKeywords").val(),pictures: $("#txtPictures").val() },
                                success: function (result) {
                                    if (result.HasValue) {
                                        UpdateTableContent();
                                        $("#txtCategoryName").val("");
                                        $("#txtDescription").val("");
                                        $("#txtKeywords").val("");
                                        $("#txtPictures").val("");
                                        NidCurrentCategory = 0;
                                        IsCategoryAdded = false;
                                        $("#BrandWrap").html("");
                                        $("#TypeWrap").html("");
                                        $("#UploadPics").html("");
                                        $("#successfullMessageDiv").html('category added successfully!');
                                        $("#successfullMessageDiv").removeAttr('hidden');
                                        setTimeout(function () {
                                            $("#successfullMessageDiv").prop('hidden', 'hidden');
                                        }, 5000);
                                    } else {
                                        $("#errorMessageDiv").html(result.Message);
                                        $("#errorMessageDiv").removeAttr('hidden');
                                        setTimeout(function () {
                                            $("#errorMessageDiv").prop('hidden', 'hidden');
                                        }, 5000);
                                    }
                                },
                                error: function (result) {
                                    $("#errorMessageDiv").html(result.Message);
                                    $("#errorMessageDiv").removeAttr('hidden');
                                    setTimeout(function () {
                                        $("#errorMessageDiv").prop('hidden', 'hidden');
                                    }, 5000);
                                }
                            })
                    }
                    else {
                        $.ajax(
    {
        url: '@Url.Action("AddCategory","Home")',
        type: 'post',
        datatype: 'json',
        data: { IsNewCategory: true, Name: $("#txtCategoryName").val(), CategoryDescription: $("#txtDescription").val(), categoryKeywords: $("#txtKeywords").val(), pictures: $("#txtPictures").val() },
        success: function (result) {
            if (result.HasValue) {
                UpdateTableContent();
                $("#txtCategoryName").val("");
                $("#txtDescription").val("");
                $("#txtKeywords").val("");
                $("#txtPictures").val("");
                NidCurrentCategory = 0;
                IsCategoryAdded = false;
                $("#BrandWrap").html("");
                $("#TypeWrap").html("");
                $("#UploadPics").html("");
                $("#successfullMessageDiv").html('category added successfully!');
                $("#successfullMessageDiv").removeAttr('hidden');
                setTimeout(function () {
                    $("#successfullMessageDiv").prop('hidden', 'hidden');
                }, 5000);
            } else {
                $("#errorMessageDiv").html(result.Message);
                $("#errorMessageDiv").removeAttr('hidden');
                setTimeout(function () {
                    $("#errorMessageDiv").prop('hidden', 'hidden');
                }, 5000);
            }
        },
        error: function (result) {
            $("#errorMessageDiv").html(result.Message);
            $("#errorMessageDiv").removeAttr('hidden');
            setTimeout(function () {
                $("#errorMessageDiv").prop('hidden', 'hidden');
            }, 5000);
        }
    })
                    }
                }
            });
            $("#btnAddBrand").click(function (e) {
                e.preventDefault();
                if ($("#txtBrandName").val() == '' || $("#txtCategoryName").val() == '') {
                    $("#warningMessageDiv").html('fill the fields');
                    $("#warningMessageDiv").removeAttr('hidden');
                    setTimeout(function () {
                        $("#warningMessageDiv").prop('hidden', 'hidden');
                    }, 3000);
                } else {
                    if (IsCategoryAdded) {
                        $.ajax(
                         {
                             url: '@Url.Action("AddBrandOrType", "Home")',
                             type: 'post',
                             datatype: 'json',
                             data: { IsBrand: true, Name: $("#txtBrandName").val(), NidCategory: NidCurrentCategory, IsNewCategory: !IsCategoryAdded },
                             success: function (result) {
                                 if (result.HasValue) {
                                     $("#BrandWrap").html(result.Html);
                                     $("#txtBrandName").val("");
                                 } else {
                                     $("#errorMessageDiv").html(result.Message);
                                     $("#errorMessageDiv").removeAttr('hidden');
                                     setTimeout(function () {
                                         $("#errorMessageDiv").prop('hidden', 'hidden');
                                     }, 5000);
                                 }
                             },
                             error: function (result) {
                                 $("#errorMessageDiv").html(result.Message);
                                 $("#errorMessageDiv").removeAttr('hidden');
                                 setTimeout(function () {
                                     $("#errorMessageDiv").prop('hidden', 'hidden');
                                 }, 5000);
                             }
                         }
                                )
                    } else {
                        $.ajax(
                         {
                             url: '@Url.Action("AddBrandOrType", "Home")',
                             type: 'post',
                             datatype: 'json',
                             data: { IsBrand: true, Name: $("#txtBrandName").val(), CategoryName: $("#txtCategoryName").val(), IsNewCategory: !IsCategoryAdded, CategoryDescription: $("#txtDescription").val(), categoryKeywords: $("#txtKeywords").val() },
                             success: function (result) {
                                 IsCategoryAdded = true;
                                 NidCurrentCategory = result.tmpNidCategory;
                                 if (result.HasValue) {
                                     $("#BrandWrap").html(result.Html);
                                     $("#txtBrandName").val("");
                                 } else {
                                     $("#errorMessageDiv").html(result.Message);
                                     $("#errorMessageDiv").removeAttr('hidden');
                                     setTimeout(function () {
                                         $("#errorMessageDiv").prop('hidden', 'hidden');
                                     }, 5000);
                                 }
                             },
                             error: function (result) {
                                 $("#errorMessageDiv").html(result.Message);
                                 $("#errorMessageDiv").removeAttr('hidden');
                                 setTimeout(function () {
                                     $("#errorMessageDiv").prop('hidden', 'hidden');
                                 }, 5000);
                             }
                         }
                                )
                    }
                }
            });
            $("#btnAddType").click(function (e) {
                e.preventDefault();
                if ($("#txtTypeName").val() == '' || $("#txtCategoryName").val() == '') {
                    $("#warningMessageDiv").html('fill the fields');
                    $("#warningMessageDiv").removeAttr('hidden');
                    setTimeout(function () {
                        $("#warningMessageDiv").prop('hidden', 'hidden');
                    }, 3000);
                } else {
                    if (IsCategoryAdded) {
                        $.ajax(
                         {
                             url: '@Url.Action("AddBrandOrType", "Home")',
                             type: 'post',
                             datatype: 'json',
                             data: { IsBrand: false, Name: $("#txtTypeName").val(), NidCategory: NidCurrentCategory, IsNewCategory: !IsCategoryAdded },
                             success: function (result) {
                                 if (result.HasValue) {
                                     $("#TypeWrap").html(result.Html);
                                     $("#txtTypeName").val("");
                                 } else {
                                     $("#errorMessageDiv").html(result.Message);
                                     $("#errorMessageDiv").removeAttr('hidden');
                                     setTimeout(function () {
                                         $("#errorMessageDiv").prop('hidden', 'hidden');
                                     }, 5000);
                                 }
                             },
                             error: function (result) {
                                 $("#errorMessageDiv").html(result.Message);
                                 $("#errorMessageDiv").removeAttr('hidden');
                                 setTimeout(function () {
                                     $("#errorMessageDiv").prop('hidden', 'hidden');
                                 }, 5000);
                             }
                         }
                                )
                    } else {
                        $.ajax(
                         {
                             url: '@Url.Action("AddBrandOrType", "Home")',
                             type: 'post',
                             datatype: 'json',
                             data: { IsBrand: false, Name: $("#txtTypeName").val(), CategoryName: $("#txtCategoryName").val(), IsNewCategory: !IsCategoryAdded, CategoryDescription: $("#txtDescription").val(), categoryKeywords: $("#txtKeywords").val() },
                             success: function (result) {
                                 IsCategoryAdded = true;
                                 NidCurrentCategory = result.tmpNidCategory;
                                 if (result.HasValue) {
                                     $("#TypeWrap").html(result.Html);
                                     $("#txtTypeName").val("");
                                 } else {
                                     $("#errorMessageDiv").html(result.Message);
                                     $("#errorMessageDiv").removeAttr('hidden');
                                     setTimeout(function () {
                                         $("#errorMessageDiv").prop('hidden', 'hidden');
                                     }, 5000);
                                 }
                             },
                             error: function (result) {
                                 $("#errorMessageDiv").html(result.Message);
                                 $("#errorMessageDiv").removeAttr('hidden');
                                 setTimeout(function () {
                                     $("#errorMessageDiv").prop('hidden', 'hidden');
                                 }, 5000);
                             }
                         }
                                )
                    }
                }
            });
            $("#UploadHeaderPic").change(function () {
                var formData = new FormData();
                var totalFiles = document.getElementById("UploadHeaderPic").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("UploadHeaderPic").files[i];
                    formData.append("UploadHeaderPic", file);
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UploadFiles","Home")',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.HasValue) {
                            $("#txtPictures").val(result.Message);
                            $("#UploadPics").html(result.Html);
                        } else {
                            alert("no file recieved");
                        }
                    },
                    error: function (error) {
                        alert("errror");
                    }
                })
            });
            $("#btnClearForm").click(function (e)
            {
                e.preventDefault();
                $("#txtCategoryName").val("");
                $("#txtDescription").val("");
                $("#txtKeywords").val("");
                NidCurrentCategory = 0;
                IsCategoryAdded = false;
                $("#BrandWrap").html("");
                $("#TypeWrap").html("");
                $("#UploadPics").html("");
            });
        });
        function EditThis(nidcat)
        {
            $.ajax(
                {
                    url:'@Url.Action("GetEditCategory","Home")',
                    type:'post',
                    datatype:'json',
                    data:{NidCategory:nidcat},
                    success: function (result)
                    {
                        $("#txtCategoryName").val(result.CategoryName);
                        $("#txtDescription").val(result.Description);
                        $("#txtKeywords").val(result.Keywords);
                        $("#txtPictures").val(result.Pictures);
                        $("#TypeWrap").html(result.TypeWrap);
                        $("#BrandWrap").html(result.BrandWrap);
                        $("#UploadPics").html(result.PicturesWrap);
                        IsCategoryAdded = true;
                        NidCurrentCategory = result.NidCategory;
                    },
                    error: function ()
                    {
                        alert('error');
                    }
                })
        }
        function DeleteThis(nidcat)
        {
            swal({   
                title: "Are you sure?",   
                text: "You will not be able to recover this imaginary file!",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonText: "Yes, delete it!",
            }).then(function () {
                $.ajax(
                    {
                        url: '@Url.Action("DeleteCategory","Home")',
                        type: 'post',
                        datatype: 'json',
                        data: {NidCategory:nidcat},
                        success: function (result)
                        {
                            if (result.HasValue)
                            {
                                swal("deleted!", result.Message, "success");
                                UpdateTableContent();
                            } else {
                                swal(result.Message);
                            }
                        },
                        error: function ()
                        {
                            swal("error");
                        }
                    })
            });
        }
        function UpdateTableContent()
        {
            $.ajax(
         {
    url: '@Url.Action("SyncCategoryTable","Home")',
    type: 'post',
    datatype: 'json',
    data: {},
    success: function (result) {
        if (result.HasValue) {
            $("#tblCategory").html(result.Html);
        }
    },
    error: function () {
        alert('error');
    }
})
        }
        function DetailThis(nidcat)
        {
            $.ajax(
                {
                    url: '@Url.Action("CategoryDetail","Home")',
                    type: 'post',
                    datatype: 'json',
                    data: {NidCategory:nidcat},
                    success: function (result)
                    {
                        if (result.HasValue)
                            $("#DetailModal").html(result.Html);
                        else
                            alert('error');
                    },
                    error: function ()
                    {
                        alert('error')
                    }
                })
            $("#DetailModal").modal('toggle')
            $("#DetailModal").modal('show')
        }
    </script>
    }