@model AudioShopBackend.ViewModels.CategoryAndBrandViewModel
@{
    ViewBag.Title = "ManageTypeAndBrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcomb-list">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="breadcomb-wp">
                            <div class="breadcomb-icon">
                                <i class="notika-icon notika-windows"></i>
                            </div>
                            <div class="breadcomb-ctn">
                                <h2>Manage Brand and Type</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                        <div class="breadcomb-report">
                            <a href="@Url.Action("categories","Home")" class="btn btn-info">go to categories</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:right;direction:rtl;">
                <div class="form-example-area">
                    <div class="form-element-list" id="divCategoryForm">
                        <div class="alert alert-success" role="alert" hidden="hidden" id="successfullMessageDiv"></div>
                        <div class="alert alert-warning" role="alert" hidden="hidden" id="warningMessageDiv"></div>
                        <div class="alert alert-danger" role="alert" hidden="hidden" id="errorMessageDiv"></div>
                        <div class="basic-tb-hd">
                            <h2>Categories</h2>
                            <p>desc about categories</p>
                        </div>
                        <div class="row">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-edit"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="name" id="txtName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-star"></i>
                                </div>
                                <div class="nk-int-st">
                                    <textarea class="form-control" placeholder="desc" id="txtDescription"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-star"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="keywords" id="txtKeywords">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group ic-cmp-int">
                                <div class="nk-int-st">
                                    @if (Model.IsBrand)
                                    {
                                        <button class="btn notika-btn-green btn-reco-mg btn-button-mg waves-effect" id="btnAddBrand">add this!</button>
                                    }
                                    else
                                    {
                                        <button class="btn notika-btn-green btn-reco-mg btn-button-mg waves-effect" id="btnAddType">add this!</button>
                                    }
                                    <button class="btn notika btn-reco-mg btn-button-mg waves-effect" id="btnClearForm">clear form</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="data-table-area">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>category name : @Model.CategoryName</h2>
                            <p>It's just that simple. Turn your simple table into a sophisticated data table and offer your users a nice experience and great features without any effort.</p>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Keywords</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tblBnT">
                                    @if (Model.IsBrand)
                                    {
                                        foreach (var brd in Model.category_Brand)
                                        {
                                            <tr>
                                                <td>@brd.BrandName</td>
                                                <td>@brd.Keywords</td>
                                                <td>
                                                    <button onclick="EditBrand('@brd.NidBrand')" class="btn btn-warning notika-btn-warning waves-effect">Edit</button>
                                                    <button onclick="DeleteBrand('@brd.NidBrand')" class="btn btn-danger notika-btn-danger waves-effect">Delete</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var typ in Model.category_Type)
                                        {
                                            <tr>
                                                <td>@typ.TypeName</td>
                                                <td>@typ.Keywords</td>
                                                <td>
                                                    <button onclick="EditType('@typ.NidType')" class="btn btn-warning notika-btn-warning waves-effect">Edit</button>
                                                    <button onclick="DeleteType('@typ.NidType')" class="btn btn-danger notika-btn-danger waves-effect">Delete</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">
        var NidCurrent = "";
        var IsNewBrandorType = true;
        $(function () {
            $('.nav-tabs li.active').removeClass('active');
            $("#liCategories").addClass('active');
            $("#btnAddBrand").click(function (e)
            {
                e.preventDefault();
                if ($("#txtName").val() == '') {
                    $("#warningMessageDiv").html('name is null');
                    $("#warningMessageDiv").removeAttr('hidden');
                    setTimeout(function () {
                        $("#warningMessageDiv").prop('hidden', 'hidden');
                    }, 3000);
                } else {
                    if (IsNewBrandorType)
                    {
                        $.ajax(
    {
        url: '@Url.Action("ManageBrand","Home")',
        type: 'post',
        datatype: 'json',
        data: { IsNewBrand: true, Name: $("#txtName").val(), Description: $("#txtDescription").val(), Keywords: $("#txtKeywords").val(),NidCategory: @Model.NidCategory },
        success: function (result) {
            if (result.HasValue) {
                UpdateTableContent(true);
                $("#txtName").val("");
                $("#txtDescription").val("");
                $("#txtKeywords").val("");
                IsNewBrandorType = false;
                NidCurrent = "";
                $("#successfullMessageDiv").html('brand added successfully!');
                $("#successfullMessageDiv").removeAttr('hidden');
                setTimeout(function () {
                    $("#successfullMessageDiv").prop('hidden', 'hidden');
                }, 5000);
            } else {
                $("#errorMessageDiv").html(result.Message);
                $("#errorMessageDiv").removeAttr('hidden');
                setTimeout(function () {
                    $("#errorMessageDiv").prop('hidden', 'hidden');
                }, 5000);
            }
        },
        error: function (result) {
            $("#errorMessageDiv").html(result.Message);
            $("#errorMessageDiv").removeAttr('hidden');
            setTimeout(function () {
                $("#errorMessageDiv").prop('hidden', 'hidden');
            }, 5000);
        }
    })
                    }else{
                        $.ajax(
    {
        url: '@Url.Action("ManageBrand","Home")',
        type: 'post',
        datatype: 'json',
        data: { IsNewBrand: false,NidBrand:NidCurrent, Name: $("#txtName").val(), Description: $("#txtDescription").val(), Keywords: $("#txtKeywords").val(),NidCategory: @Model.NidCategory },
        success: function (result) {
            if (result.HasValue) {
                UpdateTableContent(true);
                $("#txtName").val("");
                $("#txtDescription").val("");
                $("#txtKeywords").val("");
                IsNewBrandorType = false;
                NidCurrent = "";
                $("#successfullMessageDiv").html('brand edited successfully!');
                $("#successfullMessageDiv").removeAttr('hidden');
                setTimeout(function () {
                    $("#successfullMessageDiv").prop('hidden', 'hidden');
                }, 5000);
            } else {
                $("#errorMessageDiv").html(result.Message);
                $("#errorMessageDiv").removeAttr('hidden');
                setTimeout(function () {
                    $("#errorMessageDiv").prop('hidden', 'hidden');
                }, 5000);
            }
        },
        error: function (result) {
            $("#errorMessageDiv").html(result.Message);
            $("#errorMessageDiv").removeAttr('hidden');
            setTimeout(function () {
                $("#errorMessageDiv").prop('hidden', 'hidden');
            }, 5000);
        }
    })
                    }
                }
            });
            $("#btnAddType").click(function (e)
            {
                e.preventDefault();
                if ($("#txtName").val() == '') {
                    $("#warningMessageDiv").html('name is null');
                    $("#warningMessageDiv").removeAttr('hidden');
                    setTimeout(function () {
                        $("#warningMessageDiv").prop('hidden', 'hidden');
                    }, 3000);
                } else {
                    if (IsNewBrandorType)
                    {
                        $.ajax(
    {
        url: '@Url.Action("ManageType","Home")',
        type: 'post',
        datatype: 'json',
        data: { IsNewType: true, Name: $("#txtName").val(), Description: $("#txtDescription").val(), Keywords: $("#txtKeywords").val(),NidCategory: @Model.NidCategory },
        success: function (result) {
            if (result.HasValue) {
                UpdateTableContent(false);
                $("#txtName").val("");
                $("#txtDescription").val("");
                $("#txtKeywords").val("");
                IsNewBrandorType = false;
                NidCurrent = "";
                $("#successfullMessageDiv").html('type added successfully!');
                $("#successfullMessageDiv").removeAttr('hidden');
                setTimeout(function () {
                    $("#successfullMessageDiv").prop('hidden', 'hidden');
                }, 5000);
            } else {
                $("#errorMessageDiv").html(result.Message);
                $("#errorMessageDiv").removeAttr('hidden');
                setTimeout(function () {
                    $("#errorMessageDiv").prop('hidden', 'hidden');
                }, 5000);
            }
        },
        error: function (result) {
            $("#errorMessageDiv").html(result.Message);
            $("#errorMessageDiv").removeAttr('hidden');
            setTimeout(function () {
                $("#errorMessageDiv").prop('hidden', 'hidden');
            }, 5000);
        }
    })
                    }else{
                        $.ajax(
    {
        url: '@Url.Action("ManageType","Home")',
        type: 'post',
        datatype: 'json',
        data: { IsNewType: false,NidType:NidCurrent, Name: $("#txtName").val(), Description: $("#txtDescription").val(), Keywords: $("#txtKeywords").val(),NidCategory: @Model.NidCategory },
        success: function (result) {
            if (result.HasValue) {
                UpdateTableContent(false);
                $("#txtName").val("");
                $("#txtDescription").val("");
                $("#txtKeywords").val("");
                IsNewBrandorType = false;
                NidCurrent = "";
                $("#successfullMessageDiv").html('type edited successfully!');
                $("#successfullMessageDiv").removeAttr('hidden');
                setTimeout(function () {
                    $("#successfullMessageDiv").prop('hidden', 'hidden');
                }, 5000);
            } else {
                $("#errorMessageDiv").html(result.Message);
                $("#errorMessageDiv").removeAttr('hidden');
                setTimeout(function () {
                    $("#errorMessageDiv").prop('hidden', 'hidden');
                }, 5000);
            }
        },
        error: function (result) {
            $("#errorMessageDiv").html(result.Message);
            $("#errorMessageDiv").removeAttr('hidden');
            setTimeout(function () {
                $("#errorMessageDiv").prop('hidden', 'hidden');
            }, 5000);
        }
    })
                    }
                }
            });
            $("#btnClearForm").click(function(e)
            {
                e.preventDefault();
                $("#txtName").val("")
                $("#txtDescription").val("")
                $("#txtKeywords").val("")
                NidCurrent = "";
                IsNewBrandorType = true;
            });
        });
        function EditBrand(nidBrand) {
            $.ajax(
                {
                    url: '@Url.Action("EditBrand","Home")',
                    type: 'post',
                    datatype: 'json',
                    data: {NidBrand:nidBrand},
                    success: function (result)
                    {
                        $("#txtName").val(result.Name)
                        $("#txtDescription").val(result.Description)
                        $("#txtKeywords").val(result.Keywords)
                        NidCurrent = result.Nid;
                        IsNewBrandorType = false;
                    },
                    error: function () {
                        alert('error')
                    }
                })
        }
        function DeleteBrand(nidBrand) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
            }).then(function () {
                $.ajax(
                    {
                        url: '@Url.Action("DeleteBrand","Home")',
                        type: 'post',
                        datatype: 'json',
                        data: { NidBrand: nidBrand },
                        success: function (result) {
                            if (result.HasValue) {
                                swal("deleted!", result.Message, "success");
                                UpdateTableContent(true);
                                nidBrand = "";
                                IsNewBrandorType = true;
                            } else {
                                swal(result.Message);
                            }
                        },
                        error: function () {
                            swal("error");
                        }
                    })
            });
        }
        function EditType(nidType) {
            $.ajax(
                {
                    url: '@Url.Action("EditType","Home")',
                    type: 'post',
                    datatype: 'json',
                    data: { NidType: nidType },
                    success: function (result) {
                        $("#txtName").val(result.Name)
                        $("#txtDescription").val(result.Description)
                        $("#txtKeywords").val(result.Keywords)
                        NidCurrent = result.Nid;
                        IsNewBrandorType = false;
                    },
                    error: function () {
                        alert('error')
                    }
                })
        }
        function DeleteType(nidType) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
            }).then(function () {
                $.ajax(
                    {
                        url: '@Url.Action("DeleteType", "Home")',
                        type: 'post',
                        datatype: 'json',
                        data: { NidType: nidType },
                        success: function (result) {
                            if (result.HasValue) {
                                swal("deleted!", result.Message, "success");
                                UpdateTableContent(false);
                                nidBrand = "";
                                IsNewBrandorType = true;
                            } else {
                                swal(result.Message);
                            }
                        },
                        error: function () {
                            swal("error");
                        }
                    })
            });
        }
        function UpdateTableContent(isBrand) {
            $.ajax(
         {
             url: '@Url.Action("SyncBnTTable","Home")',
             type: 'post',
             datatype: 'json',
             data: {IsBrand:isBrand,NidCategory:@Model.NidCategory},
             success: function (result) {
                 if (result.HasValue) {
                     $("#tblBnT").html(result.Html);
                 }
             },
             error: function () {
                 alert('error');
             }
         })
        }
    </script>
    }
