@model List<AudioShopBackend.Models.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd" style="text-align:right;">
                        <h2>لیست سفارشات</h2>
                        @*<p>It's just that simple. Turn your simple table into a sophisticated data table and offer your users a nice experience and great features without any effort.</p>*@
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">تاریخ</th>
                                    <th style="text-align:center;">نام مشتری</th>
                                    <th style="text-align:center;">عنوان محصول</th>
                                    <th style="text-align:center;">تعداد</th>
                                    <th style="text-align:center;">عملیات</th>
                                </tr>
                            </thead>
                            <tbody id="tblCategory">
                                @foreach (var ord in Model)
                                {
                                    <tr>
                                        <td style="text-align:center;">@ord.CreateDate.ToShortDateString()</td>
                                        <td style="text-align:center;">@ord.User.FirstName  @ord.User.LastName</td>
                                        <td style="text-align:center;">@ord.Product.ProductName</td>
                                        <td style="text-align:center;">@ord.Quantity</td>
                                        <td style="text-align:center;">
                                            <button onclick="DetailThis('@ord.NidOrder')" class="btn btn-info notika-btn-info waves-effect" data-toggle="modal">جزییات</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal animated bounce" id="DetailModal" role="dialog" style="display: none;"></div>

@section styles
    {
<link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.dataTables.min.css")">
    }
@section scripts
    {
<script src="@Url.Content("~/Content/js/data-table/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/js/data-table/data-table-act.js")"></script>
    <script type="text/javascript">
        $(function ()
        {
            $('.nav-tabs li.active').removeClass('active');
            $("#liOrders").addClass('active');
        });
        function DetailThis(nidOrder) {
            $.ajax(
                {
                    url: '@Url.Action("OrderDetail","Home")',
                    type: 'post',
                    datatype: 'json',
                    data: { NidOrder: nidOrder },
                    success: function (result) {
                        if (result.HasValue)
                            $("#DetailModal").html(result.Html);
                        else
                            alert('error');
                    },
                    error: function () {
                        alert('error')
                    }
                })
            $("#DetailModal").modal('toggle')
            $("#DetailModal").modal('show')
        }
    </script>
    }

